:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(2, 2, 2, 0.87);
  background-color: #d8ded9;

}



body {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
